


.App {
  text-align: center;
}

#root {
  text-align: center;
  width: 100%;
  /* Ui-Neumorphism Theme
      '--light-bg': '#E9B7B9',
      '--light-bg-dark-shadow': '#ba9294',
      '--light-bg-light-shadow': '#ffdcde',
      '--dark-bg': '#292E35',
      '--primary': '#8672FB',
      '--primary-light': '#c7befd' 
      
      --primary-dark: #282c34;*/
      --dark-bg-dark-shadow: #21252a;
      --dark-bg-light-shadow: #313740;
}

html {
  background-color: #282c34;
  -webkit-app-region: drag;
  
  
}

body {
  background-color: #282c34;
  overflow: hidden;
  height: fit-content;
}

input[name="mainInput"]{
  font-size: 54px;
  width: fit-content;
  min-width: 400px;
  width: fit-content(1280px);
  /* use padding to control text field height insteal of calcs -Dave */
  
}

input[type="text"]{
  background-color: #282c34;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
