


body{
  background-color: #00000000 !important;
  padding:0 !important;
  
  
}

.App {
  text-align: center;
  background-color:#282c34;
  transform: scale(0.99);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin: 4px 4px 10px;
  
  box-shadow:  inset 3px 3px 4px 2px #44444410,  inset -2px -2px 4px 2px #11111122;
  

}

.noDrag{
  -webkit-app-region: no-drag;
}

#root {
  text-align: center;
  width: 100%;
       /* Ui-Neumorphism Theme
      '--light-bg': '#E9B7B9',
      '--light-bg-dark-shadow': '#ba9294',
      '--light-bg-light-shadow': '#ffdcde',
      '--dark-bg': '#292E35',
      '--primary': '#8672FB',
      '--primary-light': '#c7befd' 
      
      --primary-dark: #282c34;
      */
      --dark-bg-dark-shadow: #21252a;
      --dark-bg-light-shadow: #313740;

}

html {
  -webkit-app-region: drag;
}

/* * {
  width: 100%;
} */

body {
  background-color: #282c34;
  overflow: hidden;
  height: fit-content;
  padding: 3px 10px 3px 10px;

}

#body {
  width: 100%;
  
   

}

input[name="mainInput"]{
  min-height: 100px;
  font-size: 54px;
  min-width: 400px;
  width: 100%;
  display: inline-block !important;
 
  
  /* use padding to control text field height insteal of calcs -Dave */
  
}

.buttonRow {

  display: flex;
  flex-direction: horizontal;
  justify-Content: flex-end;
}

.row {
 
  width: 100%;
  display: 'flex';
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.column {
  display: 'flex';
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


input[type="text"]{
  background-color: #282c34;

}

.alwaysOnTopToggle label p{
  font-size: small;
  color: #757575;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
